<!-- Masthead -->
<header class="masthead">
    <div class="container h-100 main-info-section">
        <h3>Select Credit Template from below list</h3>
        <form name="mainInformationForm" class="main">
            <section id="providers">
                <div class="container-fluid p-0">
                    <div class="row no-gutters">
                        <div class="col-lg-4 col-sm-6">
                            <a class="providers-box" ng-click="$ctrl.showPreviewNotificationModal()">
                                <img class="img-fluid" src="../../../img/providers/thumbnails/1.jpg" alt="">
                                <div class="providers-box-caption">
                                    <div class="project-category text-white-50">
                                        Vendor
                                    </div>
                                    <div class="project-name">
                                        Sharper Lending
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <a class="providers-box" ng-click="$ctrl.showPreviewNotificationModal()">
                                <img class="img-fluid" src="../../../img/providers/thumbnails/2.jpg" alt="">
                                <div class="providers-box-caption">
                                    <div class="project-category text-white-50">
                                        Vendor
                                    </div>
                                    <div class="project-name">
                                        Certified Credit Link, Inc.
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <a class="providers-box" ng-click="$ctrl.showPreviewNotificationModal()">
                                <img class="img-fluid" src="../../../img/providers/thumbnails/3.jpg" alt="">
                                <div class="providers-box-caption">
                                    <div class="project-category text-white-50">
                                        Vendor
                                    </div>
                                    <div class="project-name">
                                        ACRAnet - CARS	
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <a class="providers-box" ng-click="$ctrl.showPreviewNotificationModal()">
                                <img class="img-fluid" src="../../../img/providers/thumbnails/4.jpg" alt="">
                                <div class="providers-box-caption">
                                    <div class="project-category text-white-50">
                                        Vendor
                                    </div>
                                    <div class="project-name">
                                        One Source Credit Reporting
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <a class="providers-box" ng-click="$ctrl.showPreviewNotificationModal()">
                                <img class="img-fluid" src="../../../img/providers/thumbnails/5.jpg" alt="">
                                <div class="providers-box-caption">
                                    <div class="project-category text-white-50">
                                        Vendor
                                    </div>
                                    <div class="project-name">
                                        United One Resources
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <a class="providers-box" ng-click="$ctrl.showPreviewNotificationModal()">
                                <img class="img-fluid" src="../../../img/providers/thumbnails/6.jpg" alt="">
                                <div class="providers-box-caption p-3">
                                    <div class="project-category text-white-50">
                                        Vendor
                                    </div>
                                    <div class="project-name">
                                        ACB Credit Solutions
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
            <button class="btn btn-success" type="submit" ng-click="$ctrl.submit()">Next</button>
        </form>
    </div>
</header>