<!-- Masthead -->
<header class="masthead">
    <div class="container h-100 main-info-section">
        <h3>Select Credit Templates from below list</h3>
        <form name="mainInformationForm" class="main">
            <section id="providers">
                <div class="container-fluid p-0">
                    <div class="row no-gutters">
                        <div class="col-lg-4 col-sm-6">
                            <a class="providers-box" ng-click="$ctrl.showPreviewNotificationModal()">
                                <img class="img-fluid" src="../../../img/providers/thumbnails/1.jpg" alt="">
                                <div class="providers-box-caption">
                                    <div class="project-category text-white-50">
                                        Vendor
                                    </div>
                                    <div class="project-name">
                                        Sharper Lending
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <a class="providers-box" ng-click="$ctrl.showPreviewNotificationModal()">
                                <img class="img-fluid" src="../../../img/providers/thumbnails/2.jpg" alt="">
                                <div class="providers-box-caption">
                                    <div class="project-category text-white-50">
                                        Vendor
                                    </div>
                                    <div class="project-name">
                                        Certified Credit Link, Inc.
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <a class="providers-box" ng-click="$ctrl.showPreviewNotificationModal()">
                                <img class="img-fluid" src="../../../img/providers/thumbnails/3.jpg" alt="">
                                <div class="providers-box-caption">
                                    <div class="project-category text-white-50">
                                        Vendor
                                    </div>
                                    <div class="project-name">
                                        ACRAnet - CARS	
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <a class="providers-box" ng-click="$ctrl.showPreviewNotificationModal()">
                                <img class="img-fluid" src="../../../img/providers/thumbnails/4.jpg" alt="">
                                <div class="providers-box-caption">
                                    <div class="project-category text-white-50">
                                        Vendor
                                    </div>
                                    <div class="project-name">
                                        One Source Credit Reporting
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <a class="providers-box" ng-click="$ctrl.showPreviewNotificationModal()">
                                <img class="img-fluid" src="../../../img/providers/thumbnails/5.jpg" alt="">
                                <div class="providers-box-caption">
                                    <div class="project-category text-white-50">
                                        Vendor
                                    </div>
                                    <div class="project-name">
                                        United One Resources
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <a class="providers-box" ng-click="$ctrl.showPreviewNotificationModal()">
                                <img class="img-fluid" src="../../../img/providers/thumbnails/6.jpg" alt="">
                                <div class="providers-box-caption p-3">
                                    <div class="project-category text-white-50">
                                        Vendor
                                    </div>
                                    <div class="project-name">
                                        ACB Credit Solutions
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
            <button class="btn btn-success" type="submit" ng-click="$ctrl.submit()">Next</button>
        </form>
    </div>
</header>
<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">I'm a modal!</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <ul>
            <li ng-repeat="item in $ctrl.items">
                <a href="#" ng-click="$event.preventDefault(); $ctrl.selected.item = item">{{ item }}</a>
            </li>
        </ul>
        Selected: <b>{{ $ctrl.selected.item }}</b>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
    </div>
</script>